<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.onder.cleanflyingos">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServicoSincronismo"
            android:label="ServicoSincronismo">
            <intent-filter>
                <action android:name="SINC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".ServicoEnviaDados"
            android:label="ServicoEnviaDados">
            <intent-filter>
                <action android:name="ENVIADADOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".LoginActivity" />
        <activity android:name=".CadastroSenhaActivity" />
        <activity android:name=".FichasActivity" />
        <activity
            android:name=".CadastroServicoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".CadastroAeronaveActivity" />
        <activity
            android:name=".CklUmActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CkUmActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FotoEntradaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CkDoisActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ObsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RespActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".AssinaturaUmActivity" />
        <activity android:name=".AssinaturaDoisActivity" />
        <activity android:name=".AssinaturaTresActivity" />
        <activity android:name=".AssinaturaQuatroActivity" />
        <activity android:name=".ServidorActivity" />
        <activity android:name=".SincronismoActivity" />
        <activity android:name=".PesquisaAeronaveActivity" />
        <activity android:name=".CadastrarNovaAeronaveActivity" />
        <activity android:name=".FotoSaidaActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/filepaths" />
    </application>

</manifest>